
body {
  min-height: 100vh;
  width: auto;
  margin: 0;
  font-family: Arial, sans-serif;
  /* Optimized Gradient for smoother background */
  background: linear-gradient(180deg, #ffffff 19%, #9FB4ED 100%);
  display: flex;
  justify-content: center;

}

/* Base Headings */
h2, h4 {
  color: #7489c5;
  margin: 0 0 20px 0;
}



h4 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 2px solid #7489c5;
  padding-bottom: 8px;
}

#map { 
    height: 650px; 
    width: 1000px;
    margin-top: 30px;
    margin-left: 150px; 
}